@font-face {
    font-family:'Zawgyi-One';
    src: url('../fonts/zawgyi.ttf')format("truetype"); 
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased; 
}
p {
    margin: 0 0 10px;
}
.welcome_friend {
    position: absolute;
}
/*to delete*/
#mobile_menu {
  display: none;
}
.mb30 {
    margin-bottom: 30px;
}
.title-style-1 {
    font-family: 'Lora', serif;
    font-weight: bold;
    margin-bottom: 25px;
    color: #3c586d;
}
#content h1 {
    font-size: 2em;
    letter-spacing: 1px;
}
.lang_flag ul{
  list-style: none;
}
.lang_flag ul li {
  display: inline-block;
}
/*menu*/
/*.sf-menu {
  margin-bottom: 0px !important;
}*/
/*************** CSS Menu ***************/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu #menu-button {
    display: none;
}
#cssmenu {
    width: auto;
    /*border-top:1px solid #FFF;*/
    line-height: 1;
    /*clear: both;*/
}
#cssmenu > ul > li {
    float: left;
    position: relative;
    height: 100%;
    min-height: 88px;
    display: table;
    margin: 0;
    background: transparent;
    white-space: normal;
}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu.align-right ul ul {
    text-align: right;
}
#cssmenu > ul > li > a {
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 10px;
    color: #d4d4d4;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    line-height: 20px;
    z-index: 2;
    display: table-cell;
    max-width: 140px;
    text-align: center;
    font-family: 'Lora', serif;
    vertical-align: middle;
    padding: 14px 19px;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.current-menu-item > a{
    color: #000;
}
#cssmenu > ul > li.has-sub > a {
    padding-right: 20px;
}
#cssmenu > ul > li.has-sub > a::after {
    position: absolute;
    top: 44px;
    right: 7px;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #f2941c;
    border-right: 2px solid #f2941c;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
    border-color: #9c9f46;
}
#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    z-index: 9;
}
#cssmenu li:hover > ul {
    left: 0px;
    top: 88px;
}
#cssmenu.align-right li:hover > ul {
    right: 0;
}
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}
#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}
#cssmenu ul ul li {
    height: 0;
    /*margin-bottom: 5px;*/
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
    height: auto;
}
#cssmenu ul li:hover > ul li:hover > ul {
    top: 0px;
}
#cssmenu ul ul li a {
    padding: 10px 20px;
    width: 250px;
    background: #3c586d;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu ul ul li > a{
    margin-right: 5px;
}
#cssmenu ul li a:hover {
    color: #000 !important;
}
/*#cssmenu ul ul ul li a{
    width: 100px;
}*/
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #df9c1f;
    background-color: #ffffff;
}
#cssmenu ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
#cssmenu ul ul li.has-sub:hover > a::after {
    border-color: #ffffff;
}
@media all and (max-width: 1008px){
    #cssmenu {
        width: 100%;
        background-color: #fff;
    }
    #cssmenu ul {
        width: 100%;
        display: none;
    }
    #cssmenu.align-center > ul,
    #cssmenu.align-right ul ul {
        text-align: left;
    }
    #cssmenu ul li,
    #cssmenu ul ul li,
    #cssmenu ul li:hover > ul > li {
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(120, 120, 120, 0.15);
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        color: #000;
    }
    #cssmenu > ul > li,
    #cssmenu.align-center > ul > li,
    #cssmenu.align-right > ul > li {
        float: none;
        display: block;
    }
    #cssmenu ul ul li a {
        padding: 20px 20px 20px 30px;
        font-size: 12px;
        color: #000000;
        background: none;
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #000000;
    }
    #cssmenu ul ul ul li a {
        padding-left: 40px;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0;
    }
    #cssmenu > ul > li.has-sub > a::after,
    #cssmenu ul ul li.has-sub > a::after {
        display: none;
    }
    #menu-line {
        display: none;
    }
    #cssmenu #menu-button {
        display: block;
        padding: 20px;
        color: #000000;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
    }
    #cssmenu #menu-button::after {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        width: 15px;
        height: 2px;
        background: #000000;
    }
    #cssmenu #menu-button::before {
        content: '';
        position: absolute;
        top: 25px;
        right: 20px;
        display: block;
        width: 15px;
        height: 3px;
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        height: 52px;
        width: 52px;
        cursor: pointer;
    }
    #cssmenu .submenu-button::after {
        content: '';
        position: absolute;
        top: 21px;
        left: 26px;
        display: block;
        width: 1px;
        height: 11px;
        background: #000000;
        z-index: 99;
    }
    #cssmenu .submenu-button::before {
        content: '';
        position: absolute;
        left: 21px;
        top: 26px;
        display: block;
        width: 11px;
        height: 1px;
        background: #000000;
        z-index: 99;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        display: none;
    }
    #cssmenu .menu > li.current-menu-item:after, #cssmenu .menu > li:hover:after, #cssmenu .menu > li.current-menu-ancestor:after {
        height: 0 !important;
        width: 0 !important;
    }
}

/*menu add*/
#cssmenu .menu > li.current-menu-item:after, #cssmenu .menu > li:hover:after, #cssmenu .menu > li.current-menu-ancestor:after {
    background: #d0b220 none repeat scroll 0 0;
    content: " ";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    transform: skew(-25deg);
    width: 100%;
    top: 0;
    z-index: 1;
}
/*home search*/
.outbound_child {
  display: none;
}
/*page.php*/
.post_content h4, .tour_service h4 {
	color: #3c586d;
    font-weight: 600;
    font-family: 'Lora', serif;
}
.post_content ul{
    list-style-type: square;
    list-style-position: inside;
    padding-left: 30px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #3c586d;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.post_content.flight_info table tr td img{
    width: 100px;
    height: auto;
}
/*footer*/
.contact li:last-child a {
    border-bottom: 0;
}
.contact_wrap{
    margin-bottom: 11px;
    float: left;
    width: 100%;
}
.contact i{
    float: left;
}
.contact a {
    display: block;
    /*padding-left: 35px;*/
    line-height: 25px;
    background-position: 1px 8px;
    background-repeat: no-repeat;
    text-decoration: none;
    font-weight: normal;
    color: #333 !important;
}
.contact .c_icon{
    float: left;
    width: 15%;
}
.contact .c_value{
    float: left;
    width: 85%;
}
.contact .info_address a {
    /*background-image: url('../images/address.png');*/
}
.contact .info_phone a{
    display: inline-block;
}
.contact .info_phone a:first-child {
    /*background-image: url('../images/ph.png');*/
}
.contact .info_phone a:not(:first-child) {
    padding-left: 0;
}
.contact .info_email a {
    /*background-image: url('../images/msg.png');*/
}
.contact .info_host a {
    /*background-image: url('../images/web.png');*/
}
/* Hotel Page */
.hotels-wrapper .resp-tab-content{
    padding: 15px 0 0 0;
}
.each_hotel .column_attr{
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}
.each_hotel h4 {
	display: block;
	color: #3c586d;
	margin-top: 20px;
}
.each_hotel ul,.each_hotel ul li {
	list-style: none;
	padding: 10px 0px;
}
.each_hotel i {
	color: #3c586d;
	margin-right: 5px;
}
.each_hotel img.hotel_img {
  width: 100%;
}
/*front page hot deal tour*/
.view_all a {
    margin: 0px auto;
    display: table;
    text-transform: uppercase;
    font-family: 'Lora', serif;
}
.view_all a:hover{
    color: #333;
    text-decoration: none;
    background-color: #3c586d;
}
.btn-blue,.btn-darkyellow, .btn-grey {
	border-color: #f1f0ed;
	text-shadow: none;
}
.btn-darkyellow {
	background-color: #c8a500;
    color: #fff !important;
}
.btn-grey {
	background-color: #f6f6f6;
}
.btn-blue {
	background-color: #3c586d;
    color: #ddd !important;
}
/*taxo tour type*/
/*.tour-taxo span.price {
	position: absolute;
    top: 0;
    right: 0;
    background: #3c586d none repeat scroll 0 0;
    border-radius: 7px;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    padding: 3px 10px;
}*/
.tour-taxo .taxo_content, .search_tour .taxo_content {
	display: inline-block;
	margin-bottom: 30px;
  border: 1px solid #ddd;
  position: relative;
}
.tour-taxo .taxo_content, .search_tour .taxo_content .tour-img{
    margin-top: 0px;
}

.tour-taxo .tour-img , .treeking_tours .tour-img{
    overflow: hidden;
}
/*.tour-taxo .tour-img , .treeking_tours .tour-img{
	width: 50%;
	float: left;
}*/
/*.tour-taxo .tour-details, .treeking_tours .tour-details {
	/*border: 1px solid #ddd;*/
	/*float: right;
  width: 50%;
  padding: 15px;
  padding-top: 0px;
  min-height: 170px;*/
  /*position: relative;*/
/*}*/
.search_tour .tour-details {
  min-height: 135px;
  border: 1px solid #ddd;
  padding: 0px 15px;
}
.treeking_tours .tour-details{
  min-height: 165px;
}
.treeking_tours .tour-details .btn, .tour-taxo .tour-details .btn{
  margin-top: 10px;
}

.view_tour {
    position: absolute;
    right: 0;
    bottom: 0;
}
.search_tour .view_tour {
  /*right: 15px;*/
}
/*single tour*/
/*title style*/
.title-style-2 {
 margin: 0 0 30px 0;
    font-size: 20px;
    position: relative;
    color: #434a54;
    display: inline-block;
    letter-spacing: 1px;
    width: 100%;
}
.title-style-2.white {
  color: #fff;
}
.title-style-2 span{
    position: relative;
}
.title-style-2 span:after {
  position: absolute;
  content: "";
  bottom: 5px;
  right: -57px;
  width: 50px;
  height: 3px;
  background-color: #c8a500;
}
.single_book {
    margin-top: 30px;
}

/*.resp-tabs-list li span {
    display: table-cell;
    max-width: 90px;
    /*padding: 0 5px;*/
/*}*/
.route_map img {
  width: 100%;
}
/*tour code, duration ,price*/
.schedule-block .element {
  display: table-cell;
  vertical-align: middle;
  width: 16%;
  background-color: #f1e29f;
  border-right: 1px solid #FFF;
  text-align: center;
  padding: 8px 0;
  font-weight: 500;
}
.schedule-block .element:last-child {
  border-right: 0px;
}
.schedule-block .element .schedule-title {
  margin-bottom: 5px;
  text-transform: uppercase;
}
.schedule-block .element span {
    font-weight: bold;
}
/*tour days*/
.title-style-3 {
  font-size: 18px;
  padding-left: 20px;
  position: relative;
  margin: 0 0 20px 0;
}
.title-style-3:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6e747c;
  position: absolute;
  left: 0px;
  top: 5px;
}
.overview-block {
  padding-top: 30px;
  /*display: inline-block;*/
}
.timeline {
  position: relative;
  padding-top: 10px;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 35px;
  height: 100%;
  width: 2px;
  background: #d7d7d7;
  z-index: 0;
}
.timeline-title {
  line-height: 30px;
}
.timeline-title span {
  background-color: #dcba18;
  padding: 7px 15px 6px;
  font-weight: 600;
    color: #000;
}
.timeline-point {
  position: absolute;
  left: -39px;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border: 3px solid #FFF;
  margin-top: -8px;
}
.timeline-point:before {
  content: "";
  height: 2px;
  width: 80px;
  position: absolute;
  background-color: #d7d7d7;
  left: 16px;
  top: 5px;
  z-index: 0;
}
.timeline-point i {
  position: absolute;
  top: -1px;
  left: 1px;
  font-size: 15px;
  color: #d7d7d7;
}
.timeline-block {
  position: relative;
}
.timeline-block:last-child .wrapper-timeline-content:after {
  height: 50vh;
}
.timeline-block:last-child .timeline-content {
  margin-bottom: 0px;
}
.timeline-content {
  margin-left: 65px;
  margin-top: 5px;
  margin-bottom: 20px;
  position: relative;
}
.wrapper-timeline-content {
  position: relative;
  display: table;
}
.wrapper-timeline-content:before {
  content: "";
  height: 2px;
  width: 80px;
  position: absolute;
  background-color: #d7d7d7;
  left: -3px;
  top: 50%;
  z-index: -9999;
}
.wrapper-timeline-content:after {
  content: "\f10c";
  position: absolute;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d7d7d7;
  border: 3px solid #FFF;
  font-size: 15px;
  background-color: #FFF;
  left: -23px;
  top: 46%;
  border-radius: 50%;
}
.timeline-custom-col {
  /*width: 48%;*/
  margin-left: 2%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.timeline-custom-col.full {
  width: 98%;
}
.timeline-custom-col:before {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  background-color: #d7d7d7;
  left: -40px;
  top: 50%;
  z-index: -9999;
}
.timeline-custom-col.image-col:before {
  width: 15%;
}
.timeline-location-block {
  padding: 30px 30px 20px 50px;
  position: relative;
  background-color: #fafafa;
  min-height: 250px;
  border-right: 2px solid #FFF;
}
.timeline-location-block .location-name {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
}
.timeline-location-block .location-name .icon-marker {
  position: absolute;
  left: -40px;
  top: -5px;
  border: 1px solid;
  border-radius: 50%;
  padding: 1%;
  width: 32px;
  height: 32px;
}
.timeline-location-block .location-name .icon-marker:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.timeline-location-block .description {
  margin-bottom: 0px;
}
.timeline-image-block {
  /*border-left: 2px solid #FFF;
  overflow: hidden;
  cursor: pointer;
  height: 250px;
  margin-bottom: 10px;*/
    width: 50%;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
.timeline-image-block img {
  width: 100%;
  height: 100%;
 /* transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;*/
}
/*.timeline-image-block:hover img {
  transform: scale(1.23);
}*/

/*tour tabs*/
/*.hotels .resp-tab-content{
    border-left: none;
    border-right: none;
    border-bottom: none;
}*/
.hotels .resp-tab-content {
  float: left;
}
.resp-tab-content {
    min-width: 100%;
}
.resp-tab-content ul {
    list-style-type: disc;
    padding-left: 20px;
}
.resp-tab-content ul li {
    line-height: 25px;
}
.gallery-item {
    margin-bottom: 30px;
}
.gallery-item img{
    border: 1px solid #c5c5c2;
    border-radius: 5px;
}
table {
    border-spacing: 2px;
    border-collapse: separate;
    width: 100%;
}
tbody tr {
    background: #f5f5f5;
}
tbody tr:nth-child(2n) {
    background: #ebebeb;
}
table td, table th {
    padding: 5px 10px;
    text-align: left;
}
table td:first-child{
    width: 32%;
}
/*archive destination*/
/* pagination */
ul.pagination li span.current{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #3c586d;
    border-color: #3c586d;
}
.pagination>li>a, .pagination>li>span{
    color: #9c9e4a;
}
/*single destination*/
.features li {
    background-color: #c29e50;
    border-radius: 3px;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 5px 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
    letter-spacing: 0.08em;
}
img.des_single {
  margin-bottom: 15px;
}
/* 7. Reservation */
/*.invalid {
     border: 1px solid #ff3636 !important;
}*/
#success_reservation{
  display: none;
}
form#tour-book {
    margin: 0px 0px 20px 20px;
}
form input:focus, form textarea:focus {
    border: 1px solid #D4A32D !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 187, 58, 0.6) !important; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 187, 58, 0.6) !important; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 187, 58, 0.6) !important; -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 187, 58, 0.6) !important;
}
.booking-form-wrapper{ padding: 0; }
.booking-form-wrapper .booking-form {
    padding: 0;
}
.booking-form .tour_info_title{ border-bottom: 1px dotted #CCC;padding: 0; margin: 16px 0; min-height: 20px;}
.booking-form .tour_info_title h2{ font-weight: bold; }
.booking-form ul{
    padding: 0;
    margin: 0;
}
.red-text {
  font-weight: bolder;
  color: #600;
}
.label-fl {
    float: none !important;
    width: auto !important;
}
.booking-form ul li {
    clear: both;
    list-style: none outside none;
    margin-bottom: 15px;
    overflow: hidden;
    min-height: 40px;
}
.booking-form label {
    display: inline-block;
    float: left;
    /*width: 210px;*/
    font-weight: bold !important;
}
label.us-currency{
    height: 38px;
    display: inline-block;
    line-height: 38px;
    float: left;
    width: auto;
    margin: -18px 0 0 10px;
    font-size: 17px;
}
.booking-form .select-wrap > label {
    width: 80px;
}
.booking-form select {
    width: 95px;
    background: #e7e7e7;
}
input.error, textarea.error, .invalid {
    /*border: 1px solid #600 !important;  */
}
.booking-form input[type="text"], .booking-form textarea {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    float: left;
    width: 320px;
    height: 35px;
    box-shadow: none;
    background: #fff;
}
.booking-form textarea{ min-height: 100px; }
.booking-form .select-wrap {
    display: inline-block;
    float: left;
    width: 110px;
}
.booking-form .radio-wrap,
.signupform .radio-wrap{
    width: 90px;
    margin-right: 20px;
    display: inline-block;
}
#tour_title{ width: 50%; background: #fff; height: 35px;}
.booking-form #tour_title{width: 100%;}
.booking-form .lang-option-wrapper{ margin-left: 210px;}
.booking-form .radio-wrap input,
.signupform .radio-wrap input{
    display: inline-block;
    margin-right: 11px;
    margin-top: -5px;
    width: auto;
}
.booking-form .radio-wrap label , .signupform .radio-wrap label{
    display: inline-block;
    float: none !important;
}
.booking-form .captcha-wrap {
    margin-left: 193px;
}
#friend-captcha-form {
    padding: 9px;
    margin-left: 20px;
}
#friend-captcha{ display: block; }
#change-image{ display: inline-block; margin: 10px 10px 0 22px; }
.fancybox-skin { background: #000 !important; color: #fff !important; }
.booking-form .captcha-wrap {
    margin-left: 193px;
}
.booking-form #submit{
    float: left;
    width: auto;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    background: #3c586d;
    border: #3c586d;
    padding: 10px 40px;
    text-shadow: 0 0 2px #333;
    border-radius: 5px;
}
.booking-form #submit:hover{
    box-shadow: 0 0 3px #000;
}
.booking-form #submit:hover{ text-decoration: none; color: #fff;}
.no-label {
    clear: both;
    margin-top: 15px;
    margin-left: 210px;
}
.inline-input {
    display: inline-block;
}
#target-rate {
    width: 96px !important;
/*    float: none !important;*/
    margin-top: -18px;
}
.price-label {
    display: inline-block;
}
.tour_guide_type {
    margin-top: 20px;
}
.tour_guide_type .radio-wrap {
    width: 150px;
}
.booking-form input[type="text"]:focus, .booking-form textarea:focus, .booking-form select:focus{ box-shadow: none; }
.booking-form input, .booking-form textarea, .booking-form select{ background: #fff; box-shadow: none; }
.booking-form select {
    height: 35px;
}
/*responsive menu*/
.dropdown-menu {
  background-color: #ddd;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
  margin-top: 0px !important;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* WordPress Core styles */
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;text-align:center;padding:5px 3px 10px}
.wp-caption.alignright{margin:5px 0 20px 20px}
.wp-caption img{border:0 none;height:auto;max-width:98.5%;width:auto;margin:0;padding:0}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}
.alignnone,a img.alignnone,.wp-caption.alignnone,.wp-caption.alignleft{margin:5px 20px 20px 0}
.aligncenter,div.aligncenter,.aligncenter{display:block;margin:5px auto}
.alignright,a img.alignright{float:right;margin:5px 0 20px 20px}
.alignleft,a img.alignleft{float:left;margin:5px 20px 20px 0}

/*Global Style*/
.nopadding {padding: 0px;}
body, p, a, h1, h2, h3, h4, h5, h6, li {
    font-family: 'Open Sans', 'Zawgyi-One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    border-bottom: 4px double #ddd;
    padding-bottom: 10px;
    margin-top: 0px;
    font-weight: 700;
    font-family: 'Lora', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p {
    font-size: 14px;
}
a {
    text-decoration: none !important;
}

body {
    background: url(../images/body-bg.jpg);
}

.header-top {
    padding: 10px 0;
    color:#fff;
}
.header-top a {
    color:#fff;
}
.header-top .social-facebook i{
	font-size: 18px;
	text-indent: -15px;
}
.header-nav {
    /*margin-bottom: 15px;*/
}
.header-nav .logo, .header-nav .navbar {
    float: left;
}

.header-nav .logo-nav {
    margin-top: 15px;
    margin-bottom: 5px;
}

.header-nav .navbar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    margin: 0;
}
/*.header-nav .navbar .container-fluid {
    padding: 0;
}*/
.header-nav .logo {
    padding: 0 20px;
    background: #3c586d;
    margin-right: 40px;
    height: 108px;
    position: relative;
    margin-top: -15px;
    margin-bottom: -15px;
    border-radius: 0 0px 60px;
    z-index: 1;
}
.header-nav .logo:after {
    background: #3c586d none repeat scroll 0 0;
    content: " ";
    height: 108px;
    position: absolute;
    right: -4px;
    top: 0;
    transform: skew(-25deg);
    width: 30px;
    border-radius: 0 23px 23px 0px;
}
.header-nav .logo a{
    display: inline-block;
    padding-top: 10px;
}
.header-nav .logo-nav {
    background: #333e42;
    float: left;
    width: 100%;
}
.header-nav .nav > li  {
    height: 68px;
    display: table;
    margin: 0;
    background: transparent;
    white-space: normal;
}
.header-nav .nav > li.current-menu-item:after, .header-nav .nav > li:hover:after, .header-nav .nav > li.current-menu-ancestor:after {
    background: #d0b220 none repeat scroll 0 0;
    content: " ";
    display: inline-block;
    height: 68px;
    left: 0;
    position: absolute;
    transform: skew(-25deg);
    width: 100%;
}
li.current-menu-ancestor a {
    color: #000 !important;
}
ul.sub-menu li.current-menu-item:after {
    background: transparent !important;
}
.header-nav .nav li > a {
    color:#d4d4d4;
    background-color: transparent !important;
    text-transform: uppercase;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 0;
    z-index: 99;
    padding: 0 19px;
    max-width: 140px;
    font-family: 'Lora', serif;
    border: none;
}
.header-nav .nav li.current-menu-item a {
   background: 0 ;
   color: #000;
}
.header-nav #mobile_menu.nav li.current-menu-item a {
    color: #fed502;
}
.header-nav .nav li a:hover {
    background: 0 !important;
    color:#000 !important;
}

/*dropdown menu*/
/*menu */
ul.dropdown-menu {
    left: -15px;
    padding: 0;
}
ul.dropdown-menu li {
    background: #ddd !important;
    padding: 10px 0px;
    border-bottom: 1px solid #3c586d;
    white-space: nowrap !important;
}
ul.dropdown-menu li a {
    max-width: 100% !important;
    color: #3c586d !important;
}

/*Sidebar*/

.right-aside h3 {
    font-size: 1.25em;
    margin: 0 0 0.5em 0;
    line-height: 45px;
    border-bottom: 5px double #dcdcdc;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-family: 'Lora', serif;
}
.right-aside {
 	background: #eee url(../images/aside.png) 100% 100% repeat-x;
    padding: 40px 40px 60px 40px;
    float: right;
    margin: -40px -25px 0 0;
}
ul.news {
    padding: 15px;
    background-color: #fff;
}
.news li {
    clear: both;
    margin-bottom: 15px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.news a {
    font-weight: bold;
    text-decoration: none;
}
.news a:hover{
    color: #d0b220;
}
.news img {
	float: left;
    width: 40px;
    margin: 2px 1em 0 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.news em {
    display: block;
    font-weight: normal;
    font-style: normal;
    color: #999;
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

/* global - contact form 7 */
.wpcf7:before,
.wpcf7:after, .wpcf7 form:before, .wpcf7 form:after {
    display: table;
    content: " ";
}
.wpcf7:after, .wpcf7 form:after {
    clear: both;
}
.wpcf7 .form-content{ margin-top: 15px; padding:0 6px; }
/*span.wpcf7-list-item{  margin-left:0;}*/
.wpcf7 input[type=text],input[type="tel"], .wpcf7 input[type=email],.wpcf7 textarea{
    width:100%;
    border-radius: 0px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.wpcf7 label{ font-weight:normal; color: #5F6062; }
.wpcf7-form-control-wrap{ display: block;}
.wpcf7-form-control-wrap.subscribe,
.do-validation .error, .wpcf7-not-valid, input.wpcf7-mathcaptcha{
    margin-bottom:0;
}
.wpcf7 abbr[data-original-title], .wpcf7 abbr[title]{ border-bottom: 0px; }
.wpcf7-form-control-wrap + br, .wpcf7-form br { display: none; }
.wpcf7 textarea{
    max-height:80px;
}
.wpcf7 .global-form textarea{
    max-height:134px;
}
img.ajax-loader{ margin:0 auto; display:block;width: auto;}
.wpcf7-response-output{
    clear:both;
    padding: 15px;
    margin-top:0 !important;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.wpcf7-mail-sent-ok{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
div.wpcf7-validation-errors{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1 !important;

}
span.wpcf7-not-valid-tip{ font-size:11px;}
.wpcf7-form-control.wpcf7-submit{
    padding: 5px 20px;
    background: #5f6062;
    border: 0px;
    color: #fff;
    text-transform: uppercase;
}

div.wpcf7-response-output {margin: 0px;}

/*Footer*/

.footer-top {
    background: #f1f1f1;
    padding: 30px 40px 0 40px;
    border-bottom: 4px solid #c7a601;
}
.footer-top .col-lg-3 {
    box-shadow: -10px 0 10px -8px rgba(0, 0, 0, 0.07);
    min-height: 330px;
}
.footer-top .col-lg-3:first-child {
    box-shadow: none;
}
.double-solid {
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    height: 4px;
    margin: 15px 0 25px;
    width: 100%;
}
.footer-top .ft-title {
    font-size: 18px;
    margin-top: 0;
}

.footer-top  h3{
     font-family: 'Lora', serif;
     font-size: 18px;
     font-weight: bold;
}
.footer-top ul li {
    margin-bottom: 11px;
}
.footer-top ul li a {
	text-decoration:none !important;
	color: #333;
}
.footer-top ul li a:hover{
    color: #c8a500;
}
.footer-top ul li img {
    margin-right: 7px;
}
.footer-top p {
    line-height: 26px;
}
.footer-top a.know-more {
    color: #c7a600;
    font-weight: 600;
    text-decoration: underline !important;
}
.footer-top i {
    color: #c7a600;
    font-size: 21px;
    margin-right: 10px;
}
.footer-copyright {
    padding: 25px 0;
    text-align: center;
}
.footer-copyright .footer-menu, .footer-copyright .footer-social{
    padding: 10px 0;
}
.footer-copyright .footer-menu ul li{
    margin-bottom: 5px;
}
.footer-copyright .footer-menu ul li, .footer-copyright .footer-social ul li {
    display: inline-block;
}
.footer-copyright .footer-menu ul li a {
    color:#fff;
    padding: 0 11px;
}
.footer-copyright .footer-menu ul li.current-menu-item a, .footer-copyright .footer-menu ul li:hover a {
    color:#c7a601;
    text-decoration: underline !important;
}
.footer-copyright .footer-social ul li a {
    color:#fff;
    margin: 0 5px;
    font-size: 18px;
    height: 27px;
    width:27px;
    display: inline-block;
    background: #363d43;
    line-height: 27px;
}
.copyright  p{
    color: #fff;
    margin-top: 10px;
}
#content {
    border-top:5px solid #3d596e;
    background: #fff none repeat scroll 0 0;
}
#content  .home-slider .col-lg-9{
    padding-right: 0;
}
#content  .home-slider .col-lg-3{
    padding-left: 0;
}
#content  .home-slider .h-tab {
    background: #333e42;
    padding: 6px;
}
#content .home-slider #left-slider {
    border: 1px solid #a1a1a1;
}
#content .home-slider #left-slider .nav-tabs {
    border: 0;
    margin-bottom: 25px;
    background: #3c586d;
}
#content .home-slider #left-slider .nav-tabs li.last{float:right;}
#content .home-slider #left-slider .nav-tabs li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    color: #e8e8e8;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    background: #282f35;
    margin: 0;
}
#content .home-slider #left-slider .nav-tabs li.active a {
    background: 0;
}
#content .home-slider #left-slider .tab-content  {
    padding: 0 12px 25px 12px;
}
#content .home-slider #left-slider .tab-content h3 {
    color: #e8e8e8;
    font-weight: 600;
    margin: 0 0 15px 0;
    font-size: 14px;
}
#content .home-slider #left-slider .tab-content label {
    font-size: 14px;
    color: #e8e8e8;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
}
#content .home-slider #left-slider .tab-content select {
    margin-bottom: 25px;
}
#content .home-slider #left-slider .tab-content button, .right-aside button{
    background: #c8a500 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-weight: 600;
    padding: 8px 25px;
}
#content .home-slider .carousel {
    height: 422px;
    overflow: hidden;
}
#content .home-slider .carousel  .carousel-inner, #content .home-slider .carousel  .carousel-inner .item {
    height: 100%;
}
#content .home-slider .carousel  .carousel-inner img {
    height: 100%;
    width: 100%;
}
#content .home-slider .carousel-caption h3 {
    margin: 0;
    font-size: 20px;
    font-family: 'Lora', serif;
}
#content .home-slider .carousel-caption {
    border: 4px solid rgba(148,110,71,0.6);
    background: rgba(0,0,0,0.6);
    right: 10%;
    left: 10%;
    padding: 10px;
    bottom: 60px;
}
.all-tours,.inner-padding {
    padding: 40px;
}
.title-tours {
    margin-bottom: 27px;
    float: left;
    width:100%;
}
.title-tours img {
    float: left;
    margin-right: 20px;
}
.title-tours h2 {
    color: #363636;
    display: inline-block;
    float: left;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    position: relative;
    font-family: 'Lora', serif;
}
.title-tours h2:after {
    content:" ";
    background: #3e5a70;
    width:50px;
    height: 2px;
    display: inline-block;
    position: absolute;
    right: -60px;
    bottom: 8px;
}
.title-tours h2:before {
    content:" ";
    background: #c7a600;
    width:39px;
    height: 2px;
    display: inline-block;
    position: absolute;
    right: -49px;
    bottom: 11px;
}
.all-tours .home-tours .tour-content, .tour-taxo .tour-content, .all_destinations .des-content {
    border-radius: 6px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.all-tours .hot-tours .tour-details, .all_destinations .des-details{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    background: rgba(67,76,81,0.9);
    padding: 11px 20px;
}
.all-tours .hot-tours .tour-details  h3, .all_destinations .des-details  h3{
    margin: 0;
    float: left;
    line-height: 15px;
    /*width: 75%;*/
}

.all_destinations .des-details  h3 {
    width: 100%;
}
.tour-taxo .tour-details h3, .search_tour .tour-details h3{
    /*text-align: center;*/
    margin-top: 10px;
    /*padding: 0px 10px;*/
}

.all-tours .hot-tours .tour-details h3 a, .tour-taxo .tour-details h3 a, .all_destinations .des-details h3 a, .search_tour .tour-details h3 a, .all-tours .trekking-bike .tour-img h3 a{
    color:#fff;
    font-weight: 600;
    line-height: 30px;
    font-size: 15px;
    letter-spacing: 1px;
}
.all-tours .hot-tours .tour-details h3 a:hover, .tour-taxo .tour-details h3 a:hover, .all_destinations .des-details h3 a:hover, .search_tour .tour-details h3 a:hover, .all-tours .trekking-bike .tour-img h3 a:hover{
    color: #d0b220;
}
.tour-taxo .tour-details h3 a, .search_tour .tour-details h3 a{
    color: #3c586d;
    line-height: 20px;
}
.all-tours .hot-tours .tour-details .price {
    background: #c8a500 none repeat scroll 0 0;
    border-radius: 7px;
    color: #fff;
    float: right;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    padding: 3px 10px;
    width: 25%;
}
.all-tours .trekking-bike .tour-img {
    position: relative;
}
.all-tours .trekking-bike .tour-img h3 {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    padding: 3px 10px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
}

/*.all-tours .trekking-bike .tour-img h3 a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 1px;
}*/
.all-tours .trekking-bike .tour-details .price {
    color: #3e586f;
    float: left;
    font-size: 18px;
    font-weight: 600;
    line-height: 33px;
}
.all-tours .trekking-bike .tour-details a {
    background: #c8a500 none repeat scroll 0 0;
    border-radius: 7px;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px;
}
.all-tours .trekking-bike .tour-details a:hover {
    background: #3e586f;
}
.all-tours .trekking-bike .tour-details {
    float: left;
    padding: 8px 0;
    width: 100%;
}
.all-tours .tour-new {
    position: absolute;
    left: 0;
    top:0;
}
.nav-tabs > li {
    text-align: center;
    /*width: 50%;with agent login*/
    width: 100%;
}
.tour-content .tour-img img {
    width: 100%;
    height: auto;
}
.carousel-control {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0 !important;
    height: 40px;
    opacity: 1;
    top: 42%;
    width: 40px;
}
.carousel-control span.glyphicon {
    font-size: 18px;
    left: 0;
    margin: 0;
    position: relative;
    right: 0;
    top: 5px;
}
.tour-content .tour-img {
    background: #000;
}
.tour-content .tour-img a:hover img {
    opacity: 0.7;
}

.taxo_content .tour-img a img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.taxo_content .tour-img a:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.search_tour .taxo_content .tour-img a:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: grayscale(0.8);
    filter: grayscale(0.8);
}

/*Code for Template*/
/*contact us*/

label em{color: #999;font-weight: normal;}

input, textarea, select{
    /*width: 100%;*/
    padding: 0.5em;
    margin-bottom: 1em;
    /*display: block;*/
    /*border: 0;*/
    background: #fafafa;
    border-radius: 2px;
}
.right-aside button{border-radius: 2px;box-shadow: 0 1px 2px rgba(0,0,0,0.2);}

/*tour program*/

.tp-wrap{margin-top: -60px;}
.tp-wrap-two{margin-top:30px;}
.tp-wrap-three{margin-bottom:20px;}
.tp-text{font-family: 'Lora';
    font-weight: 500;
    line-height: 1.5;
    overflow: hidden;
    height: 60px;
}
.pages li{
    display: inline-block;
    margin-right: 4px;
    list-style: none;
    color: #999;
}
.pages a{
    background: #ddd;
    color: #999;
    text-decoration: none;
    padding: 0 4px;
    font-weight: normal;
    border-radius: 3px;
}
.pages a:hover{
    background: #fff;
}

/*singel tour*/

em .char{
    background-color: #c8a500;
    border-radius: 3px;
    color: #fff;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 24px;
    float: right;
}
.img-tour{
    overflow: hidden;
    height: 325px;
}
.img-center{
    top: 0;
    left: 0;
    margin: auto;
}
@media(max-width:1199px) {
    .container{
        width: 98%;
    }
    .header-nav .logo-nav {
        background: transparent;
        margin-top: 0px;
    }
    .header-nav .logo {
        margin-bottom: 10px;
        display: block;
        float: none;
        text-align: center;
        background: transparent;
        margin-right: 0px;
        height: auto;
    }
    .header-nav .logo:after {
        width: 0 !important;
        height: 0 !important;
    }
    #cssmenu > ul > li{
        min-height: 40px;
    }
    #cssmenu > ul > li > a{
        max-width: 100%;
    }
    #cssmenu > ul > li.has-sub > a::after{
        top: 20px;
    }
    #cssmenu li:hover > ul{
        top: 48px;
    }
    .fb-page{
        max-width: 100%;
    }
}
@media(max-width:992px) {
    #cssmenu li:hover > ul {
        top: 0 !important;
    }
    .mobile_mb30 {
        margin-bottom: 30px;
    }
    /*990px*/
    #content .home-slider .col-lg-3 {
        padding-left: 15px;
    }
    #content .home-slider .col-lg-9 {
        padding-right: 15px;
    }
    .right-aside {
        float: none;
        margin-top: 30px;
        padding: 20px;
    }
    /*810px*/
    #content .home-slider .carousel {
     height: auto;
    }
    
    .tour-taxo .tour-details, .search_tour .tour-details{
        margin: 0px 15px;
    }
}
@media(max-width:768px) {
    .mobile-none{
        display: none;
    }
    /*menu*/
    .header-nav .navbar {
        float: none;
    }
    .header-nav .nav li {
        height: auto;
        width:100%;
        padding: 5px 0;
        display: block;
    }
    .header-nav .nav li:after {
        height: 0 !important;
        width: 0 !important;
    }
    .header-nav .nav li a {
        display: block;
        max-width: 100%;
    }
    ul.dropdown-menu li {
        background:transparent !important;
        border-bottom: none !important;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a, .header-nav .nav li.current-menu-item a, li.current-menu-ancestor a, .header-nav .nav li a:hover {
        color: #fed502 !important;
    }
    .header-nav .logo{
        margin-right: 0;
    }
    .header-nav .logo-nav{
        margin-top: 0px;
    }
    .header-nav .logo a{
        padding-top: 0px;
    }
    /*menu*/
    .header-nav .navbar {
      float: none;
    }
 
    /*single tour*/
    .timeline-image-block {
      width: 100%;
      margin-bottom: 10px;
    }
    /*header text*/
    #content h1 {
        font-size: 1.8em;
        line-height: 27px;
    }
    .title-style-2{
        font-size: 17px;
        line-height: 25px;
    }
    .footer-top .col-lg-3 {
        min-height: 0;
        margin-bottom: 30px;
    }
    #content .home-slider .carousel-caption h3 {
        font-size: 14px;
    }
    .gallery-item {
        width: 100%;
    }
    .title-style-2 span:after{
        display: none;
    }
}
@media(max-width:575px) {
    #content h1 {
        font-size: 1.2em;
    }
    .title-style-2{
        font-size: 16px;
    }
    .all-tours .hot-tours .tour-details h3 a {
        font-size: 14px;
    }
    .all-tours,.inner-padding {
        padding: 15px;
    }
    .mobile_col {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .mobile_col .pull-left, .mobile_col .pull-right {
        float: none !important;
    }
    .title-tours img{
        margin-right: 10px;
    }
    .title-tours h2{
        font-size: 20px;
    }
    #content .home-slider .carousel-caption{
        display: none;
    }
}
@media(max-width:480px) {
    .schedule-block .element{
        display: block;
        width: 100%;
        border-bottom: 1px solid #767272;
    }
    .schedule-block .element.last-ele{
        border: none;
    }
    .timeline:before{
        left: 10px;
    }
    .timeline-content{
        margin-left:25px;
    }
    .timeline-point{
        left: -25px;
    }
    .timeline-location-block{
        padding: 15px;
    }
    .timeline-location-block .location-name{
        padding-left: 40px;
    }
    .timeline-location-block .location-name .icon-marker{
        left: 0;
        width: 25px;
        height: 25px;
        top: 0;
    }
}
@media (min-width:1024px){
	#content .home-slider .h-tab {
	  background: #333e42 none repeat scroll 0 0;
	  height: 422px;
	  padding: 6px;
	}
	#content .home-slider #left-slider {
	  border: 1px solid #a1a1a1;
	  height: 410px;
	}
	#content .home-slider #left-slider .nav-tabs li a {
	  background: #282f35 none repeat scroll 0 0;
	  border: 0 none;
	  color: #e8e8e8;
	  font-size: 14px;
	  font-weight: 600;
	  margin: 0;
	  padding: 10px 5px;
	}
}